{% load thumbnail %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="{% url 'blog:search' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search products..." title="search through blog"  required>
                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                </div><!-- /input-group -->
                <div class="br"></div>
            </form>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
            <h4>Rajan khayamali</h4>
            <p>Senior blog writer</p>
            <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                should have to spend money on boot camp when you can get. Boot camps have itssuppor ters
                andits detractors.</p>
            <div class="br"></div>
        </aside>
        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Popular Posts</h3>
            {% for top_post in top_posts %}
                <div class="media post_item">
                    {% thumbnail top_post.image.image "100x60" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="media-body">
                        <a href="{% url 'blog:single_blog' top_post.slug %}"><h3>{{ top_post.title }}</h3>
                        </a>
                        <p>{{ top_post.category }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="br"></div>
        </aside>
{#        <aside class="single_sidebar_widget ads_widget">#}
{#            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>#}
{#            <div class="br"></div>#}
{#        </aside>#}

    </div>
</div>

