 .mapouter {
    text-align: center;
    /*height: 383px;*/
    /*width: 630px;*/
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    /*height: 383px;*/
    /*width: 630px;*/
}



/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 1200px) {
  .responsive-map{
     height: 383px;
    width: 1000px;
}
}

 @media screen and (min-width: 992px) {
  .responsive-map{
     height: 383px;
    width: 900px;
}
}

 @media screen and (max-width: 992px) and (min-width: 600px) {
  .responsive-map{
     height: 383px;
    width: 500px;
}
}


