{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <!--================Home Banner Area =================-->

    <section class="banner_area" style="min-height: 481px;">
        <div class="box_1620" style="background-color: transparent;">
            <div class="banner_inner d-flex align-items-center" style="background-image: url('{% static "img/banner/chess.jpg" %}')">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>About Me</h2>
{#                        <div class="page_link">#}
{#                            <a href="index.html">Home</a>#}
{##}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120" style="background-color: transparent; padding-top: 5px;" >
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        {% for about in abouts %}
                            <h4>{{ about.title }}</h4>
                            {% thumbnail about.image "495x495" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <p style="padding-top: 20px">{{ about.content | safe}}</p>


                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>Python Programming:<span class="counter">70</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Django framework:<span class="counter">70</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Bootstrap:<span class="counter">60</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>HTML:<span class="counter">80</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>CSS:<span class="counter">75</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->

    <!--================Testimonials Area =================-->
    <section class="testimonials_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Download my CV</h2>
                <a href="{% static 'relative/cv.pdf' %}">Click to download</a>

            </div>

        </div>
    </section>
    <!--================End Testimonials Area =================-->
{% endblock %}