{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load thumbnail %}
    <section class="home_banner_area blog_banner">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""><img style="width: 100%; height: auto;"
                                         src="{% static 'img/banner/blogbanner.jpg' %}"></div>
            <div class="container">
                <div class="blog_b_text text-center">
                    <h2>welcome to my <br/> BLOG</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for blog in blog_pages %}
                            <article class="row blog_item" style="padding-top: 30px;">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <div class="post_tag">
                                            <a class="active" href="#">{{ blog.category }}</a>

                                        </div>
                                        <ul class="blog_meta list">
                                            <li><a href="#">{{ blog.author }}<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">{{ blog.Pub_date }}<i class="lnr lnr-calendar-full"></i></a>
                                            </li>
                                            <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        {% thumbnail blog.image.image "510x275" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                        <div class="blog_details">
                                            <a href="{% url 'blog:single_blog' blog.slug %}">
                                                <h2>{{ blog.title |safe }}</h2></a>
                                            <p>{{ blog.content|truncatewords:50 | safe }}</p>
                                            <a href="{% url 'blog:single_blog' blog.slug %}"
                                               class="white_bg_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}


                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">

                                <li class="page-item">
                                    {% if blog_pages.has_previous %}
                                        <a class="page-link" href="?page={{ blog_pages.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% endif %}
                                </li>
                                {% for page in paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                <li class="page-item">
                                    {% if blog_pages.has_next %}
                                        <a class="page-link" href="?page={{ blog_pages.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% endif %}
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                {% include 'partials/side-search-content.html' %}
            </div>
        </div>
    </section>
{% endblock %}
        