{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area" style="color: lime">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center" style="background-image: url('{% static "img/banner/contact.jpg" %}')">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2 style="color: white">Contact Me</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area p_120">
        <div class="container">
            {#            <div id="mapBox" class="mapBox"#}
            {#                 data-lat="27.670971"#}
            {#                 data-lon="85.43922380000004"#}
            {#                 data-zoom="13"#}
            {#                 data-info="libali-8 Bhaktapur, Nepal"#}
            {#                 data-mlat="27.670971"#}
            {#                 data-mlon="85.43922380000004">#}
            {#            </div>#}
            <div class="col-md-12">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe class="responsive-map" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=khwopa%20engineering%20college&t=&z=17&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 35px">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Libali-2 ,Bhaktapur</h6>
                            <p>Nepal</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">9823135161</a></h6>
                            <p>never contact me</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">krazzan.rk@gmail.com</a></h6>
                            <p>mail me</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                          novalidate="novalidate">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject"
                                       placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1"
                                          placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->


    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->


{% endblock %}

