{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}

    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center"
                 style="background-image: url('{% static "img/banner/gallery.jpg" %}')">

                <div class="container">
                    <div class="banner_content text-center">
                        <h2 style="color: #0b0b0b">Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Home Gallery Area =================-->
    <section class="home_gallery_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>MY PHOTOGRAPHY</h2>
                <p>my best snap</p>
            </div>

        </div>
        <div class="container">
            <div class="gallery_f_inner row imageGallery1">
                {% for photo in galleries %}
                    <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                        <div class="h_gallery_item">
                            <div class="g_img_item">
                                {% thumbnail photo.image "340x340" crop="center" as im %}
                                    <img src="{{ im.url }}" class="img-fluid" alt="{{ photo.title | safe }}">


                                <a class="light" href="{{ photo.image.url }}">
                                    <img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
                                {% endthumbnail %}
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="more_btn">
                <a class="main_btn" href="#">Load More Items</a>
            </div>
        </div>

    </section>

    <!--================End Home Gallery Area =================-->
{% endblock %}
