{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">

                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            {% for banner in banners %}
                                {% thumbnail banner.image "690x668" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            {% endfor %}

                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                {% for banner in banners %}
                                    <h3>{{ banner.title }}</h3>
                                    <h4>Electronics & Communication Engineer</h4>
                                    <p>{{ banner.content | safe }}</p>
                                    <ul class="list basic_info">
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i> 18th August, 1995</a>
                                        </li>
                                        <li><a href="#"><i class="lnr lnr-phone-handset"></i> 9823135161</a></li>
                                        <li><a href="#"><i class="lnr lnr-envelope"></i> krazzan.rk@gmail.com</a></li>
                                        <li><a href="#"><i class="lnr lnr-home"></i> Libali-2 Bkt</a></li>
                                    </ul>
                                    <ul class="list personal_social">
                                        <li><a href="https://www.facebook.com/rajan.khayamali"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>{{ publ.title }}</h4>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                            standards especially in the workplace. That’s why it’s crucial that, as women, our behavior
                            on the job is beyond reproach. inappropriate behavior is often laughed.</p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>Python Programming:<span class="counter">70</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Django framework:<span class="counter">70</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Bootstrap:<span class="counter">60</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>HTML:<span class="counter">80</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>CSS:<span class="counter">75</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->


    <!--================My Tabs Area =================-->
    <section class="mytabs_area p_120">
        <div class="container">
            <div class="tabs_inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"#}
{#                           aria-controls="home" aria-selected="true">My Experiences</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">My Education</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    {#                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
                    {#                        <ul class="list">#}
                    {#                            <li>#}
                    {#                                <span></span>#}
                    {#                                <div class="media">#}
                    {#                                    <div class="d-flex">#}
                    {#                                        <p>March 2017 to present</p>#}
                    {#                                    </div>#}
                    {#                                    <div class="media-body">#}
                    {#                                        <h4>Colorlib</h4>#}
                    {#                                        <p>Senior Web Developer <br/>Santa monica, Los angeles</p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <span></span>#}
                    {#                                <div class="media">#}
                    {#                                    <div class="d-flex">#}
                    {#                                        <p>March 2017 to present</p>#}
                    {#                                    </div>#}
                    {#                                    <div class="media-body">#}
                    {#                                        <h4>Colorlib</h4>#}
                    {#                                        <p>Senior Web Developer <br/>Santa monica, Los angeles</p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <span></span>#}
                    {#                                <div class="media">#}
                    {#                                    <div class="d-flex">#}
                    {#                                        <p>March 2017 to present</p>#}
                    {#                                    </div>#}
                    {#                                    <div class="media-body">#}
                    {#                                        <h4>Colorlib</h4>#}
                    {#                                        <p>Senior Web Developer <br/>Santa monica, Los angeles</p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media" >
                                    <div class="d-flex" style="padding-right: 180px;">
                                        <p>2013 to 2017</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Bachelor in Engineering</h4>
                                        <p>Electronics and Communication Engineering <br/>Khwopa Engineering College</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex" style="padding-right: 180px;">
                                        <p>2011 to 2013</p>
                                    </div>
                                    <div class="media-body" >
                                        <h4>Higher Secondary Level</h4>
                                        <p>Science <br/>Khwopa higher secondary school</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex" style="padding-right: 180px;">
                                        <p>____ to 2010</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Seconday level</h4>
                                        <p>Genuine secondary school</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}