{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <section class="banner_area">
        <div class="box_1620" style="background-color: transparent; min-height: 220px;">
            <div class="banner_inner d-flex align-items-center" style="min-height: 220px;">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>{{ single_posts.title }}</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog_area single-post-area p_120" style="padding-top: 0;">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 posts-list">

                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">

                                {% thumbnail single_posts.image.image "750x350" crop="center" as im %}
                                    <img src="{{ im.url }}" class="img-fluid">
                                {% endthumbnail %}

                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">

                                    <a class="active" href="#">{{ single_posts.category }}</a>

                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{ single_posts.author }}<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{ single_posts.Pub_date }}<i class="lnr lnr-calendar-full"></i></a>
                                    </li>
                                    <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>{{ single_posts.title }}</h2>
                            <p class="excert">
                                {{ single_posts.content|safe }}
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                {% for image in single_posts.bloghasimage_set.all %}
                                    <div class="col-6">

                                        {% thumbnail image.image "360x350" crop="center" as im %}
                                            <img src="{{ im.url }}" class="img-fluid">
                                        {% endthumbnail %}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    <div class="navigation-area">

                        <div class="row">
                            {% for blog in next_prev %}

                                <div class=" col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="details">
                                        <p>Next Post</p>
                                        <a href="{% url 'blog:single_blog' single_posts.slug %}">
                                            <h4>{{ blog.title }}</h4></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{% url 'blog:single_blog' single_posts.slug %}"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                    <a href="{% url 'blog:single_blog' single_posts.slug %}">
                                        {% thumbnail blog.image.image "60x60" crop="center" as im %}
                                            <img src="{{ im.url }}" class="img-fluid" >
                                        {% endthumbnail %}
                                    </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="comments-area">
                        {% for comment in comments %}

                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <h5><a href="#">{{ comment.name }}</a></h5>
                                            <p class="date">{{ comment.date }} </p>
                                            <p class="comment">
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form method="post" action="{% url 'blog:single_blog' single_posts.slug %}" class="comment">
                            {% csrf_token %}


                            <div class="form-group form-inline">
                                <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="Enter Name"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Enter email address"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter email address'">
                                </div>
                            </div>
                            {#                            <div class="form-group">#}
                            {#                                <input type="text" class="form-control" id="subject" placeholder="Subject"#}
                            {#                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">#}
                            {#                            </div>#}
                            <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" placeholder="Message"
                                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"
                                      name="comment"
                            ></textarea>
                            </div>
                            <p><input type="submit" value="post comment" class="primary-btn submit_btn"></p>
                        </form>

                    </div>


                </div>
                {% include 'partials/side-search-content.html' %}
            </div>
        </div>
    </section>
{% endblock %}